*{
    font-family: monospace;
}
.grid {
    border: 1px solid;
    width: 294px;
    height: 252px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    
    background-color: beige;
    font-size: 1rem;
}

.grid div {
    border: 1px solid gainsboro;
    height: 40px;
    width: 40px;
}

.player-one {
    background-color: red;
    border-radius: 20px;
}

.player-two {
    background-color: blue;
    border-radius: 20px;
}

#current-player{
    margin-left: 2.5rem;
    text-shadow: 1px 0 1px #f7cb7a;
}