* {
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}

body{
    background: url("https://images.unsplash.com/photo-1457364887197-9150188c107b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") no-repeat center center/ cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FAQs-container{
    width: 50%;
    border: solid 1px rgba(136, 41, 41, 0.3);
    background: rgba(91, 48, 97, 0.185);
    padding: 20px;
    border-radius: 30px;
}

.FAQs-container .container-title{
    margin: 20px;
    text-align: center;
}

.FAQs-container .content-container .question{
    padding: 20px 0px;
    font-size: 20px;
    border-bottom: 1px solid #000;
    cursor: pointer;
    position: relative;
}

.FAQs-container .content-container .question::after {
    content: '+';
    position: absolute;
    right: 0;
}

.FAQs-container .content-container .answer {
    padding-top: 10px;
    font-size: 20px;
    line-height: 1.5;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: .5s;
}

.FAQs-container .content-container.active .answer{
    height: 150px;
}

.FAQs-container .content-container.active .question {
    font-size: 17px;
    transition: .5s;
}

.FAQs-container .content-container.active .question::after {
    content: '-';
    font-size: 30px;
    transition: .5s;
}